/* Home styles */

.home-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.welcome-copy {
    margin-left: 80px;
    margin-right: 80px;
    text-decoration-line: underline;
}

.self-copy {
    position: absolute;
    bottom: 45px;
    left: 120px;
}

.item {
    color: white;
    float: left;
    max-width: 185px;
    margin-right: 50px;
}

.item h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    font-family: AvenirNext;
    line-height: 0;
    letter-spacing: 2px;
}

.item p {
    font-size: 10px;
    line-height: 14px;
}